<div ng-controller="customersCtrl" class="centerDiv">
	<form class="form-inline">

		<div class="form-group">
			<p class="col-xs-12 control-label">
				<b>Enter Page Size:</b>
			</p>
		</div>
		<div class="form-group">
			<input type="number" class="form-control" ng-model="pSizeIn"
				placeholder="Page Size">
		</div>
		<button class="btn btn-success" ng-click="updtGrid(pSizeIn)">
			<span class="glyphicon glyphicon-refresh"></span> Update Table
		</button>
	</form>
	<br>
	<div class="table-responsive">
		<div ui-grid="gridOptions" ui-grid-exporter ui-grid-selection
			class="grid"></div>
	</div>
	<uib-pagination boundary-links="true" max-size="4"
		items-per-page="itemsPerPage" total-items="totalItems"
		ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;"
		next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
		ng-change="gotoPage(currentPage)"></uib-pagination>
	<form class="form-inline"></form>
	<form class="form-inline">

		<div class="form-group">
			<p class="col-xs-12 control-label">
				<b>Goto Page Number:</b>
			</p>
		</div>
		<div class="form-group">
			<input type="number" class="form-control" placeholder="Page Number"
				ng-model="pNoIn">
		</div>
		<button class="btn btn-success" ng-click="gotoPage(pNoIn)">
			<span class="glyphicon glyphicon-play-circle"></span> Go
		</button>
	</form>
	<br>
	<div class="alert alert-danger" role="alert" ng-show="showErr">{{errMsg}}</div>
</div>